---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="page">
    <header>
      <nav aria-label="Main navigation">
        <a href="/">Home</a>
        <span aria-hidden="true">|</span>
        <a href="/blog/">Blog</a>
        <span aria-hidden="true">|</span>
        <a href="/about/">About</a>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>© 2025 Nathan Siegfrid</footer>
  </body>
</html>

<style>
  .page {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-width: 720px;
    margin: 0 auto;
    padding: 1rem;

    background-color: beige;
  }
</style>
